@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ec4899;
  --secondary: #fce7f3;
  --text-color: #444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #fce7f3;
    --text-color: #e5e7eb;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: color 0.3s ease;
}

a:hover {
  color: #db2777;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
